.titre{
    text-align: center;
    font-size: 30px;
}

.form-control {
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
    width: 200px;
    margin: auto;
}

.btn-block {

    display: block;
    width: 100%;

}
.btn-group-lg > .btn, .btn-lg {

    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;

}
.btn-primary {

    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;

}
.btn {

    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;

}

.form-signin {

    max-width: 330px;
    padding: 15px;
    margin: 0 auto;

}
